[Unit]
Description=IoSocks Client Service
After=network.target
Documentation=man:iosocks(8)

[Service]
Type=forking
ExecStart=/usr/bin/ioclient -d -c /etc/iosocks/%i.conf --pidfile /run/ioclient.pid --logfile /var/log/ioclient.log
PIDFile=/run/ioclient.pid

[Install]
WantedBy=multi-user.target