[Unit]
Description=IoSocks Client Service
After=network.target
Documentation=man:iosocks(8)

[Service]
Type=forking
KillSignal=SIGINT
ExecStart=/usr/bin/ioclient -d -c /etc/iosocks/%i.conf --pidfile /run/ioclient@%i.pid --logfile /var/log/ioclient@%i.log
PIDFile=/run/ioclient.pid

[Install]
WantedBy=multi-user.target