[Unit]
Description=IoSocks Redirecter Service
After=network.target
Documentation=man:iosocks(8)

[Service]
Type=forking
ExecStart=/usr/bin/ioredir -d -c /etc/iosocks/%i.conf --pidfile /run/ioredir.pid --logfile /var/log/ioredir.log
PIDFile=/run/ioredir.pid

[Install]
WantedBy=multi-user.target