[Unit]
Description=IoSocks Server Service
After=network.target
Documentation=man:iosocks(8)

[Service]
Type=forking
KillSignal=SIGINT
ExecStart=/usr/bin/ioserver -d -c /etc/iosocks/%i.conf --pidfile /run/ioserver@%i.pid --logfile /var/log/ioserver@%i.log
PIDFile=/run/ioserver.pid

[Install]
WantedBy=multi-user.target