auto/
autom4te.cache/
contrib/archlinux/iosocks/
.deps/
.lint/
aclocal.m4
config.*
configure
Makefile
Makefile.in
src/Makefile
src/Makefile.in
src/ioserver
src/ioclient
src/ioredir
stamp-h1
*~
*.gcda
*.gcno
*.gcov
*.html
*.o
*.pro
*.pro.user
*.svg
*.tar.gz
*.tar.xz
