*.o
*.tar.gz
*.gcov
*.gcda
*.gcno
*.html
*~
.deps/
coverage.svg
Makefile
src/Makefile
autom4te.cache/
config.h
config.log
config.status
src/ioserver
src/ioclient
src/iodns
src/ioredir
stamp-h1

*.pro
*.pro.user
