language: c
compiler:
    - gcc
    - clang
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y libxml2-dev
install: libev-dev
script: "./configure && make"
branches:
    only:
        - master